/* Header */
.header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #311e7a;
  margin-top: -10px;
}

.nav-header {
  width: 100%;
  height: 23px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
}

.nav-header-title {
  display: none;
}

.nav-header-title-2 {
  display: none;
}

.nav-header h1 {
  color: #fff;
  font-size: 1rem;
  margin-left: 20px;
  margin-top: 3px;
}

.nav-sesion {
  display: flex;
  justify-content: center;
  color: #fff;
}

.nav-sesion li {
  list-style: none;
  font-size: 1rem;
  padding: 0 5px;
}

.active {
  border-bottom: 3px solid #311e7a;
  color: #ba007c;
}

.pd-r-50 {
  padding-right: 50px;
}

.nav-link {
  margin: 1px;
}

.nav-link:hover {
  color: #ba007c;
  border-bottom: 3px solid #311e7a;
}

.button-responsive {
  border: none;
}

.menu-desplegable li a:hover {
  background-color: #fff7f1;
  color: #ba007c;
}

.button-buscar-responsive {
  border: none;
  display: none;
}

.buscador {
  border: 1px solid #311e7a;
}

.buscador:focus {
  color: #ba007c;
  box-shadow: 0 0 10px rgba(186, 0, 124, 1);
  border: 1px solid #ba007c;
}

.buscador:hover {
  border: 1px solid #ba007c;
}

.formulario-button {
  border: 1px solid #311e7a;
  color: #311e7a;
}

.formulario-button:hover {
  color: #fff;
  background-color: #311e7a;
  border: 1px solid #311e7a;
}

.formulario-button:active {
  color: #fff;
  background-color: #311e7a;
  border: 1px solid #311e7a;
}

/* media queries */
@media (max-width: 995px) {
  .nav-header h1 {
    display: none;
  }

  .nav-header-title {
    color: #fff;
    font-size: 1rem;
    margin-left: 20px;
    margin-top: 3px;
    display: inline;
  }
}

@media (max-width: 625px) {
  .nav-header-title {
    display: none;
  }
  .nav-header-title-2 {
    color: #fff;
    font-size: 1rem;
    margin-left: 20px;
    margin-top: 3px;
    display: inline;
  }
}
/* Fin del Header */  

@font-face {
  font-family: "Oswald";
  src: url(/Fuentes/Oswald-VariableFont_wght.ttf) format("truetype");
}

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #fcffe0;
}

.main {
  background-color: #fff7f1;
  width: 600px;
  height: 700px;
  margin: 100px auto;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}



.titulo {
  margin: 15px;
  padding: 10px;
  text-align: center;
}

.col-12 {
    text-align: center;
}

.btn {
  border-radius: 10px;
  border: 2px solid #311e7a;
  cursor: pointer;
  color: #311e7a;
  font-size: 1rem;
  font-weight: 700;
}

/* Footer */
.footer {
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.footer-titulo {
  color: #fff;
  font-size: 1.1rem;
}
/* Fin del Footer */